*{
margin: 0;
padding: 0;
}
a{
text-decoration: none;
}
li{
text-decoration: none;
}
body{
font-family: 'Open Sans', sans-serif;
}
div.gitlogo{
width: 588px;
margin: auto;
}
div.nav{
margin: auto;
width: 800px;
height: 100px;
text-align: center;
margin-bottom: 25px;
}
.nav a{
font-size: 24px;
color: #000000;
margin-right: 15px;
}
.nav a:hover{
border-bottom: 3px solid #f05133;
}
div.comm1{
background-image: url("img/back.png");
display: inline-block;
margin: auto;
}
div.comm1 h1{
color: #fff;
margin-left: 150px;
padding-top: 20px;
padding-bottom: 20px;
}
div.comm1 p{
color: #fff;
margin-left: 50px;
margin-bottom: 50px;
}
p.code{
color: #fff;
}
div.comm2{
background-color: #fff;
display: inline-block;
margin: auto;
}
div.comm2 h1{
color: #f05133;
margin-left: 150px;
padding-top: 20px;
padding-bottom: 20px;
}
div.comm2 p{
color: #f05133;
margin-left: 50px;
margin-bottom: 50px;
}